name: New Milestone
on:
  milestone:
    types: [created]
env:
  REPO_TOKEN:       ${{ secrets.WISE_CD_REPO_TOKEN }}
  ORGANIZATION:     wisemonkeys-co 
  PRODUCT:          wise-billing
  BRANCH_PREFIX:    wise-change-mng
  PROJECT_ID:       1
  GH_REPO:          ${{ github.repository }}
  MILESTONE_NUMBER: ${{ github.event.milestone.number }}
  MILESTONE_TITLE:  ${{ github.event.milestone.title }}
  ACTION:           ${{ github.event.action }}
  GITHUB_TOKEN:     ${{ github.token }} 

jobs:
    new-milestone:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4  
        - name: Create child issue  
          id:   create-issue
          uses: JasonEtco/create-an-issue@v2
          with:
           update_existing: true
           search_existing: all     
           milestone:  ${{github.event.milestone.number}}
        - name: Pull Request
          run:  |
            branch=${BRANCH_PREFIX}"_"${MILESTONE_NUMBER}
            echo "Checking if "$branch" already exists ..."
            existed_in_remote=$(git ls-remote --heads origin ${branch})
            if [[ -z ${existed_in_remote} ]]; then
                echo "Creting new Branch "$branch" ... " 
                git config user.name github-actions
                git config user.email github-actions@github.com
                git checkout -b ${branch}   
                mkdir -p releases/$MILESTONE_TITLE
                echo $(date) milestone $MILESTONE_TITLE branch $branch created >> releases/$MILESTONE_TITLE/trace
                git add .
                git commit -a -m "New pull request for milestone "$MILESTONE_TITLE" branch "${branch} 
                git push -u origin ${branch}
                echo "Branch "$branch" created "
                echo "Creting new PR "$branch" ... " 
                curl -H "Authorization: token $REPO_TOKEN" -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/$ORGANIZATION/$PRODUCT/pulls \
                    -d '{"title":"'"${MILESTONE_TITLE}"'", "body": "<h2>'"${PRODUCT}"' '"${MILESTONE_TITLE}"'<\/h2>\n\n [Milestone('"${MILESTONE_NUMBER}"')](https://github.com/'"${ORGANIZATION}"'/'"${PRODUCT}"'/milestone/'"${MILESTONE_NUMBER}"'?closed=1)", "head":"'"${branch}"'","base":"main"}'                 
                echo "PR "$branch" created " 
             else
                echo "Branch "$branch" already exists" 
             fi