name: Main merge
on:
  pull_request:
    types: 
      - closed
  workflow_dispatch:
env:
    ORGANIZATION: "wisemonkeys-co"  
    PRODUCT:  "wise-billing"
    REPO_TOKEN:       ${{ secrets.WISE_CD_REPO_TOKEN }}
    AWS_ACCESS_KEY_ID: ${{ secrets.SES_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.SES_SECRET_ACCESS_KEY }}
    AWS_DEFAULT_REGION: 'sa-east-1'
    PR_NUMBER: ${{ github.event.pull_request.number }}
    PR_TITLE: ${{ github.event.pull_request.title }}
    MILESTONE_NUMBER: ${{ github.event.pull_request.milestone.number }}
    MILESTONE_TITLE: ${{ github.event.pull_request.milestone.title }}
       
jobs:
  send-email:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Build body
      id: content
      run:  |
       echo "Number: "${PR_NUMBER}
       echo "Title: "${PR_TITLE}
       echo "Milestone number: "${MILESTONE_NUMBER}
       echo "Milestone title: "${MILESTONE_TITLE}

       read login url date < <(echo $(curl -H "Authorization: token $REPO_TOKEN" -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/$ORGANIZATION/$PRODUCT/milestones/$MILESTONE_NUMBER | jq -r '.creator.login , .creator.html_url, .due_on'))

       PARTS=(${date//T/ }) 
       DATE=${PARTS[0]}
       PARTS=(${DATE//-/ }) 
       DATE=${PARTS[2]}"/"${PARTS[1]}"/"${PARTS[0]}

       NOTES=$(curl -H "Authorization: token $REPO_TOKEN" -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/$ORGANIZATION/$PRODUCT/issues?state=closed\&milestone=$MILESTONE_NUMBER  | jq  '[ .[] | { description: .title}  | select(.description != "'$MILESTONE_TITLE'") ]' | sed 's/"/\\\"/g' | tr -d "\n") 

       echo "{\"Source\":\"Wise Monkeys <ops@wisemonkeys.co>\"," \
       "\"Template\"": \""notes_v6"\""," \
       "\"Destination\": { \"ToAddresses\": [\"private.customers@wisemonkeys.co\"]}," \
       "\"TemplateData\"": \""{\\\"version\\\":\\\""$MILESTONE_TITLE"\\\", \\\"milestone\\\":\\\""$MILESTONE_NUMBER"\\\", \\\"data\\\":\\\""$DATE"\\\", \\\"pullRequest\\\":\\\""$PR_NUMBER"\\\", \\\"features\\\":"$NOTES"}\"}" > mail.json

       cat mail.json

       aws ses send-templated-email --cli-input-json file://mail.json
            